@import '@fontsource-variable/jost';
@import '@fontsource/kite-one';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-hex: '#150D1E';
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: theme('colors.purple');
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

input:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: theme('colors.violet');
  transition: background-color 5000s ease-in-out 0s;
}